.terms
	padding-right 15px
	padding-left 15px
	font-size 14px
	line-height 1.2
	text-align center
	letter-spacing -.1px
	color #e3e3e3
	+at('l')
		font-size 13px
	+below('m')
		font-size 12px
	+at('m')
		font-size 12px

	a
		text-decoration underline
		color #e3e3e3

		&:hover
			text-decoration none
