.form

	&__item
		margin-bottom 20px
		+below('m')
			margin-bottom 15px

		&:last-child
			margin-bottom 0

		&_center
			text-align center

	&__button
		margin-top 15px
		text-align center
		+below('m')
			margin-top 10px

	&__text
		margin-top 20px
		font-size 18px
		line-height 1.25
		text-align center
		color #fff

	&__link
		font-size 18px
		line-height 1.25
		text-decoration none
		color rgba(#fff, .7)
		background transparent
		border none
		box-shadow none
		transition .2s color ease-out 0s

		&:hover
			color #fff

	&__instruction
		font-size 26px
		line-height 1.25
		text-align center
		color #fff
		+below('m')
			font-size 18px

		span
		b
		em
		i
			font-weight 700
			text-transform uppercase

		code
			font-weight 700

	&__message
		position relative
		margin-right auto
		margin-bottom 25px
		margin-left auto
		width 94px
		height 43px
		background-image url(../images/message.svg)
		background-repeat no-repeat
		background-position center
		background-size 100%

	&__spinner
		margin-top 25px
		margin-right auto
		margin-left auto
		width 76px
		height 76px
		background-image url(../images/spinner.svg)
		background-repeat no-repeat
		background-position center
		background-size 100%
		transform rotate(0deg)
		animation load-linear-circles 1.8s infinite ease

@keyframes load-linear-circles
	100%
		transform rotate(360deg)
