.form

	&_center
		text-align center

	&__title
		margin-bottom 13px
		font-size 17px
		font-weight 500
		line-height 1.38
		color $text2

		&_center
			text-align center

		&_mr_0
			margin-bottom 0

	&__items
		width 210px
		+at('l')
			margin-right 23px
			display inline-block
			vertical-align top
		+at('m')
			margin-right 0
			display block

		^[0]_center &
			margin-right auto
			margin-left auto
			+at('l')
				margin-right 23px
			+at('m')
				margin-right 0

	&__item
		margin-bottom 13px
		+below('m')
			margin-bottom 10px

		&:last-child
			margin-bottom 0

		&-label
			margin-bottom 5px
			font-size 16px
			line-height 1.1
			+below('m')
				font-size 15px

		&_center
			text-align center

	&__button
		margin-top 13px
		width 210px
		+at('l')
			margin-top 0
			display inline-block
			vertical-align top
		+below('m')
			margin-top 14px
		+at('m')
			margin-top 14px
			display block

		^[0]_center &
			margin-right auto
			margin-left auto

	&__text
		margin-top 20px
		font-size 14px
		line-height 1.38

		&_mr_0
			margin-top 0

		#mobile_sms
			margin-top 20px

	&__link
		font-size 15px
		font-weight 500
		line-height 1.38
		text-decoration none
		color rgba(#fff, .7)
		background none
		border none
		box-shadow none
		transition .2s color ease-out 0s

		&:hover
			color rgba(#fff, .9)

	&__instruction
		font-size 18px
		line-height 1.38
		+below('m')
			font-size 17px

		span
		b
		em
		i
			font-weight 500
			text-transform uppercase

		code
			font-weight 500

	&__spinner
		margin-top 20px
		margin-right auto
		margin-left auto
		width 135px
		height 135px
		background-image url(../images/spinner.svg)
		background-repeat no-repeat
		background-position center
		background-size 100%
		transform rotate(0deg)
		animation-name spinner
		animation-duration 1.8s
		animation-timing-function linear
		animation-iteration-count infinite
		animation-direction normal
		animation-fill-mode forwards

@keyframes load-linear-circles
	100%
		transform rotate(360deg)
