mixin form(form)

	+b.form&attributes(attributes)
		if form
			form.js-form&attributes(attributes)(action='' method='post')
				block
		else
			block

	//+flows().js-forms
		+flow(false, true)#layer_mno
			.form__title {{Select your operator:}}
			.form__mno
				+mno([
					['Mobitel', 'SI_MOBITEL'], ['Si.mobil', 'SI_SIMOBIL'], ['Telemach', 'SI_TELEMACH']
				])
		+flow()#layer_msisdn
			.form__title {{Enter your phone number}}
			.form__items
				.form__item
					.form__item-label.js-form-error(data-phone-error='{{Your phone is incorrect!}}' data-phone-error-exist='{{Подписка на данный номер уже существует}}' style='display:none;')
					+input().js-input_set_geo(type='tel' id="phone" name='msisdn')
			.form__button
				+button('button')._full(type='submit') {{Get access}}
			.form__text
				| {{Your phone number will be used as login to get unlimited access to the service}}
			.form__text
				+check('terms-check').js-terms-checkbox {{Прочитал и согласен с}} #[a(href="http://terms.mobico.club/?id=106050&content=terms" target="_blank") {{Правилами использования}}]
		+flow()#layer_age
			.form__title {{Please enter your age!}}
			.form__items
				.form__item
					+input()(type='text')
				.form__item
					+check('agecheck', 'agecheck', true) {{I'm 18 years old}}
				.form__item
					- var n = 1
					+select()
						option(value=0 selected disabled) {{Age}}
						while n < 101
							option(value=n)= n++
			.form__button
				+button('button')._full(type='submit') {{Next}}
		+flow(true)#layer_instruction
			.form__message
			.form__title Сеанс окончен!
			.form__instruction
				| {{Отправьте SMS с кодом}} #[code.mbc-message {{333}}] {{на номер}} #[code.mbc-shortcode {{745}}]
			.form__text.form__text_mr_0
				+button('a').mbc-click2sms(href='#') {{Отправить SMS}}
		+flow()#layer_code
			.form__title {{Password you received in the SMS}}
			.form__items
				.form__item
					.form__item-label.js-form-error(style='display:none;') {{Your code is incorrect!}}
					+input()(type='password' id='code' name='code' maxlength=4)
			.form__button
				+button('button')._full(type='submit') {{Next}}
			.form__text
				button.form__link.js-layer-revert(type='submit') {{Go back}}
		+flow(false, true)#layer_wap
			.form__button
				+button('a')._full(target='_blank' id='wap') {{Subscribe}}
		+flow(false, true)#layer_wait
			.form__title {{Wait for a few moments!}}
			.form__spinner
		+flow(false, true)#layer_error
			.form__title {{К сожалению, эта услуга не доступна для Вас!}}
			.form__text
				a.form__link.js-layer-revert(href='/') {{Go back}}
