include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../header/header
include ../container/container
include ../footer/footer
include ../scripts/scripts

- var production = false;
- var root = production?'{{root}}/':'';

doctype html
html
	include ../head/head
	+page(class=pageMod ? '_' + pageMod : '')
		if production
			<!-- Google Tag Manager (noscript) -->
			noscript
				| <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVKV4L" height="0" width="0" style="display:none;visibility:hidden"></iframe>
			<!-- End Google Tag Manager (noscript) -->
		#js-wrapper.grid__wrapper
			+header()
			#js-content.grid__content
				block content
			+footer()
		if production
			+scripts([
				'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js',
				'https://cdn.jsdelivr.net/g/mutationobserver'
			])
			block scripts
			+scripts([
				'https://cdn.mobico.pro/js/sdk.min.js',
				'/_common/sms-link2.js',
				root + 'scripts/main.js',
				root + 'scripts/app.js'
			])
		else
			+scripts(['app.min.js'])
