include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../header/header
include ../container/container
include ../footer/footer
include ../scripts/scripts

- var production = false;
- var root = production?'':'';

doctype html
html
	include ../head/head
	+page(class=pageMod ? '_' + pageMod : '')
		.grid__wrapper.js-wrapper
			+header()
			.grid__content
				block content
			+footer().js-footer
		if production
			+scripts([
				'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'
			])
			block scripts
			+scripts([
				root + 'scripts/app.js'
			])
		else
			+scripts([
				'app.min.js'
			])
