.container
	position relative
	margin-right auto
	margin-left auto
	width $site-width
	+at('xl')
		width $m-d-width
	+at('l')
		width $p-width
	+below('m')
		width 100%
	+at('m')
		width 100%
		max-width 375px
