.container
	position relative
	margin-right auto
	margin-left auto
	padding-right 15px
	padding-left 15px
	width $site-width
	+at('xl')
		width $m-d-width
	+at('l')
		width $p-width
	+below('m')
		width 100%
		min-width 320px
	+at('m')
		width 100%
		max-width 375px
