.button
	position relative
	padding 22px 20px
	display inline-block
	font-size 16px
	font-weight 700
	line-height 1
	text-align center
	text-transform uppercase
	vertical-align bottom
	text-decoration none
	cursor pointer
	user-select none
	background-color transparent
	border none
	border-radius 100px
	box-shadow 0 5px #000
	transform translateY(0) translateZ(0)
	transition .2s ease-out 0s
	transition-property box-shadow, transform
	backface-visibility hidden
	will-change box-shadow, transform

	&:hover
		transform translateZ(0) translateY(2px)
		box-shadow 0 3px #000

		span
			transform translateZ(0) translateX(3px)

	&:active
		transform translateZ(0) translateY(5px)
		box-shadow 0 0 #000

	&_full
		width 100%
		min-width 100%
