$roboto = 'Roboto', sans-serif
$museo = 'MuseoSans'

@font-face
	font-family 'MuseoSans'
	src url('../fonts/MuseoSans-300.eot')
	src url('../fonts/MuseoSans-300?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans-300.woff2') format('woff2'),
	url('../fonts/MuseoSans-300.woff') format('woff'),
	url('../fonts/MuseoSans-300.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'MuseoSans'
	src url('../fonts/MuseoSans-500.eot')
	src url('../fonts/MuseoSans-500?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans-500.woff2') format('woff2'),
	url('../fonts/MuseoSans-500.woff') format('woff'),
	url('../fonts/MuseoSans-500.ttf') format('truetype')
	font-weight 500
	font-style normal

@font-face
	font-family 'MuseoSans'
	src url('../fonts/MuseoSans-900.eot')
	src url('../fonts/MuseoSans-900?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans-900.woff2') format('woff2'),
	url('../fonts/MuseoSans-900.woff') format('woff'),
	url('../fonts/MuseoSans-900.ttf') format('truetype')
	font-weight 900
	font-style normal