extends /blocks/layout-default/layout-default
include ../blocks/container/container
include ../blocks/form/form
include ../blocks/flows/flows
include ../blocks/input/input
include ../blocks/button/button

block head
	- var pageTitle = '{{}}';
	- var pageMod = '';

block scripts
	+scripts([
		'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.1.0/js/intlTelInput.min.js',
		root + 'scripts/continue.js'
	])

block content
	+container()
		+form().js-form
			+flows()
				+flow(true)#layer_msisdn
					.grid__title {{Enter your phone number}}
					.grid__form
						.form__items
							.form__item.form__item_input
								.form__item-label#msisdn_error(style='display:none; color:red') {{Your phone is incorrect!}}
								+input().js-input_set_geo(type='tel' id="phone" name='msisdn')
						.form__button
							+button('button')._common._green(type='submit') {{Get access}}
						.form__text
							| {{Your phone number will be used as login to get unlimited access to the service}}
				+flow()#layer_code
					.grid__title {{Password you received in the SMS}}
					.grid__form
						.form__items
							.form__item.form__item_input
								.form__item-label#code_error(style='display:none; color:red') {{Your code is incorrect!}}
								+input()(type='text' name='code')
						.form__button
							+button('button')._common._green(type='submit') {{Next}}
						.form__text
							button.form__link.flow_revert(type='submit') {{Go back}}
				+flow(false, true)#layer_wait
					.grid__title {{Wait for a few moments!}}
					.form__spinner
				+flow(false, true)#layer_error
					.grid__title {{К сожалению, эта услуга не доступна для Вас!}}
