extends /blocks/layout-default/layout-default
include ../blocks/container/container
include ../blocks/list/list

block head
	- var pageTitle = 'CSSSR Project Template';
	- var pageMod = 'center';

block scripts
	+scripts([
		'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js',
		'https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.1.1/cleave.min.js',
		'https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.1.1/addons/cleave-phone.us.js',
		'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js',
		'https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js'
	])

block content
	+container()
		+list([
			['Главная cтраница', 'main.html']
		])
