extends /blocks/layout-default/layout-default
include ../blocks/container/container

block head
	- var pageTitle = '{{}}';
	- var pageMod = '';

block scripts
	+scripts([
		root + 'success.js'
	])

block content
	+container()
		.form__title {{Wait for a few moments!}}
		.form__spinner
