.logo
	display inline-block
	vertical-align bottom
	text-decoration none

	&__image
	&__title
		display inline-block
		vertical-align middle

	&__image
		margin-right 12px
		width 44px
		height 38px
		background-image url(../images/logo.svg)
		background-repeat no-repeat
		background-position center
		background-size 100%

	&__title
		font-size 26px
		line-height 1
		color #fff

		span
			font-weight 700
