include ../container/container

mixin footer()
	footer#js-footer.footer&attributes(attributes)
		+container()
			| #[a(href=jv0) Condiciones de uso]  |  #[a(href=jv0) Politica Privacidad]  |  2018 cosmicattitude.com
